@import './../../../styles/globals.scss';

//Description Section
.description-about-section {
  margin: 75px 0px;
}
.description-about-text {
  margin: 20px 0px;
  padding: 0px 15px;
  h3 {
    color: #fff;
    font-size: 30px;
  }
  p {
    color: #999;
    font-size: 16px;
    max-width: 550px !important;
  }
  button {
    margin: 20px 0px;
  }
}

//Status Section
.status-section{
  position: relative;
}
@media screen and (min-width: 0px) and (max-width: 576px) {
  .status-title h2 {
    padding: 20px 0px;
    font-size: 42px !important;
  }
}
@media screen and (min-width: 577px) and (max-width: 900px) {
  .status {
    padding: 75px;
  }
}
@media screen and (min-width: 901px) {
  .status {
    padding: 75px;
    position: absolute;
    top: -60px;
    left: 19%;
    z-index: 1;
  }
  .status-item {
    width: 200px !important;
  }
  .status-band {
    height: 345px;
    width: 100%;
    background-color: $primary-color;
    position: relative;
    z-index: -1;
    margin: 150px 0px;
  }
  .status-item-border::after {
    content: '';
    position: absolute;
    font-weight: 100;
    top: 30px;
    right: -8%;
    height: 73px;
    -webkit-transform: translateX(-50%) skew(-21deg);
    transform: translateX(-50%) skew(-21deg);
    width: 1px;
    background: #444;
  }
}
.status {
  background-color: #1d1d1d;
  margin-bottom: 75px;
}
.status-title {
  text-align: center;
  h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0px;
  }
  p {
    font-size: 20px;
    color: #999;
  }
}
.status-items {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.status-item {
  text-align: center;
  padding: 20px 20px !important;
  & p:first-child {
    font-size: 35px;
    margin-bottom: 0px;
  }
  & p:last-child {
    font-size: 16px;
  }
}

//Persons Section
.person-section-title {
  text-align: center;
  h2 {
    color: #fff;
    font-weight: 600;
    font-size: 50px;
  }
  p {
    color: #999;
    font-size: 20px;
  }
}
.person-section {
  margin-bottom: 100px;
}
.person-container {
  max-width: 265px !important;
  background-color: #1d1d1d;
  margin: 20px 20px;
  position: relative;
  h3 {
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
  }
  p {
    color: #999;
  }
  &:hover{
    background-color: $primary-color;
    cursor: pointer;
    h3{
      color: #000;
      font-weight: 600;
    }
    p{
      color: #000;
    }
    .social-icon-hover{
      display: block;
    }
  }
}
.social-icon-hover{
  position: absolute;
  top: 40%;
  display: none;
  span svg {
    padding: 0px !important;
    font-size: 35px;
    margin: 0px 25px;
    background-color: rgba(0,0,0,.5);
    color: $primary-color;
    &:hover {
      background-color: #fff !important;
      cursor: pointer;
    }
  }
}
