body {
  background-color: black;
  color: white;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  color: #000;
  background-color: #f3ba2f;
  border-color: #f3ba2f;
}

.button:hover {
  color: #fff;
  background-color: #9b5501;
  border-color: #9b5501;
}

.button-outline {
  color: #f3ba2f;
  border-color: #f3ba2f;
  background: inherit;
}

.button-outline:hover {
  color: #000;
  background-color: #f3ba2f;
  border-color: #f3ba2f;
}

.theme-primary-color {
  color: #f3ba2f;
}

.positive-color {
  color: #16c784;
  font-weight: 600 !important;
}

.negative-color {
  color: #ea3943;
  font-weight: 600 !important;
}

.positive-background-color {
  background-color: #16c784;
}

.negative-background-color {
  background-color: #ea3943;
}

.table-logo-item {
  width: 32px !important;
  height: 32px !important;
  margin-right: 7px;
  margin-bottom: 7px;
}

.table-name-item {
  display: inline !important;
  font-size: 20px !important;
  font-weight: 550 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.table-symbol-item {
  color: #999 !important;
  font-weight: 550 !important;
  padding-left: 5px !important;
}

.table-number-item {
  font-size: 18px !important;
  margin: 0px !important;
}

.table-fetching-item {
  background-color: #999 !important;
}

.table-empty-item {
  margin: 50px;
}

.table-empty-item span svg {
  font-size: 75px;
}

.table-empty-item p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0;
}

.ant-table-expanded-row-fixed:hover, .ant-table-cell:hover {
  background-color: #0b0e11 !important;
}

.ant-menu-item-selected {
  background-color: transparent !important;
}

.ant-table-thead > tr > th {
  background-color: #0b0e11;
  border-color: #282828;
  color: #999;
  font-size: 16px;
  font-weight: 550;
}

.ant-table-tbody > tr > td {
  background-color: #181A20;
  border-color: #282828;
  color: #fff;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #0b0e11;
}

.ant-menu-dark .ant-menu-sub {
  background-color: #272727;
}

.ant-menu.ant-menu-dark {
  background-color: #282828;
}

.ant-divider-horizontal.ant-divider-with-text::after, .ant-divider-horizontal.ant-divider-with-text::before {
  border-color: #fff !important;
}

.ant-divider-horizontal.ant-divider-with-text {
  color: #fff;
}

.ant-divider {
  color: #fff !important;
  border-color: #353535 !important;
}

.ant-pagination-item-ellipsis,
.anticon-double-left,
.anticon-double-right,
.anticon-down,
.ant-select-item-option-content {
  color: #f3ba2f !important;
}

.ant-select-selector {
  background-color: #272727 !important;
  border-color: #272727 !important;
  color: #f3ba2f;
}

.ant-select-dropdown, .ant-select-item {
  background-color: #272727 !important;
}

.ant-select-item {
  background-color: #272727 !important;
}

.ant-select-item:hover {
  background-color: #181A20 !important;
}

.ant-btn-primary:focus {
  color: #000 !important;
  background-color: #f3ba2f !important;
  border-color: #f3ba2f !important;
}

.ant-btn-loading-icon svg {
  font-size: 30px;
  color: blue !important;
}

.ant-breadcrumb,
.ant-breadcrumb a,
.ant-breadcrumb > span:last-child,
.ant-breadcrumb-separator {
  color: #999;
  font-weight: 550;
}

.ant-input-prefix {
  margin-right: 10px;
}

.description-about-section {
  margin: 75px 0px;
}

.description-about-text {
  margin: 20px 0px;
  padding: 0px 15px;
}

.description-about-text h3 {
  color: #fff;
  font-size: 30px;
}

.description-about-text p {
  color: #999;
  font-size: 16px;
  max-width: 550px !important;
}

.description-about-text button {
  margin: 20px 0px;
}

.status-section {
  position: relative;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  .status-title h2 {
    padding: 20px 0px;
    font-size: 42px !important;
  }
}

@media screen and (min-width: 577px) and (max-width: 900px) {
  .status {
    padding: 75px;
  }
}

@media screen and (min-width: 901px) {
  .status {
    padding: 75px;
    position: absolute;
    top: -60px;
    left: 19%;
    z-index: 1;
  }
  .status-item {
    width: 200px !important;
  }
  .status-band {
    height: 345px;
    width: 100%;
    background-color: #f3ba2f;
    position: relative;
    z-index: -1;
    margin: 150px 0px;
  }
  .status-item-border::after {
    content: '';
    position: absolute;
    font-weight: 100;
    top: 30px;
    right: -8%;
    height: 73px;
    -webkit-transform: translateX(-50%) skew(-21deg);
    transform: translateX(-50%) skew(-21deg);
    width: 1px;
    background: #444;
  }
}

.status {
  background-color: #1d1d1d;
  margin-bottom: 75px;
}

.status-title {
  text-align: center;
}

.status-title h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 0px;
}

.status-title p {
  font-size: 20px;
  color: #999;
}

.status-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.status-item {
  text-align: center;
  padding: 20px 20px !important;
}

.status-item p:first-child {
  font-size: 35px;
  margin-bottom: 0px;
}

.status-item p:last-child {
  font-size: 16px;
}

.person-section-title {
  text-align: center;
}

.person-section-title h2 {
  color: #fff;
  font-weight: 600;
  font-size: 50px;
}

.person-section-title p {
  color: #999;
  font-size: 20px;
}

.person-section {
  margin-bottom: 100px;
}

.person-container {
  max-width: 265px !important;
  background-color: #1d1d1d;
  margin: 20px 20px;
  position: relative;
}

.person-container h3 {
  color: #fff;
  margin-top: 10px;
  font-size: 20px;
}

.person-container p {
  color: #999;
}

.person-container:hover {
  background-color: #f3ba2f;
  cursor: pointer;
}

.person-container:hover h3 {
  color: #000;
  font-weight: 600;
}

.person-container:hover p {
  color: #000;
}

.person-container:hover .social-icon-hover {
  display: block;
}

.social-icon-hover {
  position: absolute;
  top: 40%;
  display: none;
}

.social-icon-hover span svg {
  padding: 0px !important;
  font-size: 35px;
  margin: 0px 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f3ba2f;
}

.social-icon-hover span svg:hover {
  background-color: #fff !important;
  cursor: pointer;
}
/*# sourceMappingURL=Styles.css.map */