.description-about-section {
  margin: 75px 0px;
}

.description-about-text {
  margin: 20px 0px;
  padding: 0px 15px;
  h3 {
    color: #fff;
    font-size: 30px;
  }
  p {
    color: #999;
    font-size: 16px;
    max-width: 550px !important;
  }
  button {
    margin: 20px 0px;
  }
}

.person-section-title {
  text-align: center;
  h2 {
    color: #fff;
    font-weight: 600;
    font-size: 50px;
  }
  p {
    color: #999;
    font-size: 20px;
  }
}

.person-container {
  max-width: 265px !important;
  background-color: #1d1d1d;
  margin: 20px 20px;
  h3 {
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
  }
  p {
    color: #999;
  }
}
