$primary-color: #f3ba2f;

.logo-section {
  padding: 10px 200px;
}
@media screen and (max-width: 900px) {
  .logo-section {
    padding: 10px 100px;
  }
}
@media screen and (max-width: 576px) {
  .logo-section {
    padding: 10px 0px;
  }
}

.menu {
  background-color: #000 !important;

  .menu-item {
    color: #fff !important;
    &:hover {
      color: $primary-color !important;
      background-color: #000 !important;
      border-bottom: 1px solid $primary-color;
    }
  }
}
