@import './../../../styles/globals.scss';

.contact-section {
  margin: 75px 0px;
}
//Contact Form Section
.contact-form-title {
  h3 {
    color: #fff;
    font-size: 23px;
    font-weight: 550;
  }
  p {
    color: #999;
    font-size: 18px;
    margin-bottom: 30px;
  }
}
//Contact Info Section
@media screen and (min-width: 992px) {
  .contact-info {
    margin-left: 50px;
  }
}
.contact-info {
  background-color: #1d1d1d;
  padding: 0px 30px;
  & > div {
    margin: 30px 0px;
  }
}
.contact-info-icon {
  font-size: 35px;
  color: $primary-color;
}
.social-profiles-icon {
  span svg {
    font-size: 30px;
    margin: 10px 5px;
    &:hover {
      background-color: #fff !important;
      cursor: pointer;
    }
  }
  span:nth-child(1) svg {
    background-color: #1d1d1d;
    color: #3b5998;
  }
  span:nth-child(2) svg {
    background-color: #1d1d1d;
    color: #1da1f2;
  }
  span:nth-child(3) svg {
    background-color: #1d1d1d;
    color: #dd4b39;
  }
}
.contact-info-text {
  & p:first-child {
    font-size: 18px;
    font-weight: 550;
  }
  & p:not(:first-child) {
    color: #999;
  }
}
