.dashboard-sider{
  z-index: 10000;
}
.dashboard-container{
  &> div{
    margin: 6px;
    height: 100%;
    background-color: #272727;
  }
}
.dashboard-menu-item{
  font-size: 17px;
  svg{
    font-size: 18px;
    margin-right: 5px;
  }
}
.ring-progress-section,.gauge-progress-section{
  padding: 20px;
  h3{
    color: #fff;
    font-size: 18px;
    font-weight: 550;
  }
  p{
    color: #999;
    font-weight: 550;
  }
}
.ring-progress-section p{
  margin-bottom: 75px;
}
.ring-progress-container{
  display: flex;
  justify-content: center;
  &> div{
    display: flex;
    justify-content: center;
  }
}
  .g2-html-annotation{
    color: #fff !important;
  }
  .dashboard-chart-section{
    padding: 20px;
    h3{
      color: #fff;
      font-size: 18px;
      font-weight: 550;
      margin-bottom: 32px;
    }
  }
  .dashboard-table-section{
    padding: 15px 20px 15px 20px;
    h3{
      color: #fff;
      font-size: 18px;
      font-weight: 550;
      margin-bottom: 40px;
    }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .dashboard-container{
    display: flex;
    justify-content: center;
    &> div{
      margin-right: 20px;
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .dashboard-container{
    display: flex;
    justify-content: center;
    &> div{
      margin-right: 35px;
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .dashboard-container{
    display: flex;
    justify-content: center;
    &> div{
      margin-right: 40px;
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .dashboard-container{
    display: flex;
    justify-content: start;

  }
}
@media screen and (min-width: 1200px) and (max-width: 1335px) {
  .dashboard-container{
    display: flex;
    justify-content: end;
    &> div{
      margin: 6px;
    }

  }
}
@media screen and (min-width: 1336px){
  .dashboard-container{
    display: flex;
    justify-content: end;
    &> div{
      margin: 6px;
    }

  }
  .dashboard-sider{
    margin: 7px 0px 0px 15px;
  }
}

