.dashboard-sider{
  z-index: 10000;
}
.dashboard-container{
  &> div{
    margin: 6px;
    // height: 340px;
    height: 100%;
    background-color: #272727;
  }
}
.dashboard-menu-item{
  font-size: 17px;
  svg{
    font-size: 18px;
    margin-right: 5px;
  }
}
.ring-progress-section,.gauge-progress-section, .dashboard-table-section{
  padding: 20px;
  h3{
    color: #fff;
    font-size: 18px;
    font-weight: 550;
  }
  p{
    color: #999;
    font-weight: 550;
  }
}
.ring-progress-section p{
  margin-bottom: 75px;
}
// .gauge-progress-section p{
  //   margin-bottom: 50px;
  // }
  .g2-html-annotation{
    color: #fff !important;
  }
  .dashboard-chart-section{
    padding: 20px;
    h3{
      color: #fff;
      font-size: 18px;
      font-weight: 550;
      margin-bottom: 32px;
    }
  }
  .dashboard-table-section{
    padding: 20px 20px 0px 20px;
    h3{
      color: #fff;
      font-size: 18px;
      font-weight: 550;
      margin-bottom: 40px;
    }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .dashboard-container{
    display: flex;
    justify-content: center;
    &> div{
      margin-right: 20px;
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  
}
@media screen and (min-width: 901px) and (max-width: 1199px) {
  
}
@media screen and (min-width: 1200px){
  .dashboard-container{
    display: flex;
    justify-content: end;
  }
  .dashboard-sider{
    margin: 7px 0px 0px 15px;
    width: 500px !important;
  }
}

