.dashboard-container{
  &> div{
    margin: 10px;
    // height: 340px;
    height: 100%;
    background-color: #272727;
  }
}
.dashboard-menu-item{
  font-size: 17px;
  svg{
    font-size: 18px;
    margin-right: 5px;
  }
}
.ring-progress-section,.gauge-progress-section{
  padding: 20px;
  h3{
    color: #fff;
    font-size: 18px;
    font-weight: 550;
  }
  p{
    color: #999;
    font-weight: 550;
  }
}
// .ring-progress-section p{
//   margin-bottom: 62px;
// }
.gauge-progress-section p{
  margin-bottom: 50px;
}
.ring-progress-container{
  display: flex;
  justify-content: space-around;
}
.g2-html-annotation{
  color: #fff !important;
}
.dashboard-chart-section{
  padding: 10px;
}
