.dashboard-sider {
  z-index: 10000;
}

.dashboard-container > div {
  margin: 6px;
  height: 100%;
  background-color: #272727;
}

.dashboard-menu-item {
  font-size: 17px;
}

.dashboard-menu-item svg {
  font-size: 18px;
  margin-right: 5px;
}

.ring-progress-section, .gauge-progress-section {
  padding: 20px;
}

.ring-progress-section h3, .gauge-progress-section h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 550;
}

.ring-progress-section p, .gauge-progress-section p {
  color: #999;
  font-weight: 550;
}

.ring-progress-section p {
  margin-bottom: 75px;
}

.ring-progress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ring-progress-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.g2-html-annotation {
  color: #fff !important;
}

.dashboard-chart-section {
  padding: 20px;
}

.dashboard-chart-section h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 32px;
}

.dashboard-table-section {
  padding: 15px 20px 15px 20px;
}

.dashboard-table-section h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 40px;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .dashboard-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dashboard-container > div {
    margin-right: 20px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .dashboard-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dashboard-container > div {
    margin-right: 35px;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .dashboard-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dashboard-container > div {
    margin-right: 40px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .dashboard-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1335px) {
  .dashboard-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .dashboard-container > div {
    margin: 6px;
  }
}

@media screen and (min-width: 1336px) {
  .dashboard-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .dashboard-container > div {
    margin: 6px;
  }
  .dashboard-sider {
    margin: 7px 0px 0px 15px;
  }
}
/*# sourceMappingURL=Styles.css.map */