$primary-color: #f3ba2f;

.Markets-section{
  // background-color: #181A20;
  margin: 50px 0px;
  h2{
    color: #fff;
  }
}
.market-table-button{
  color: $primary-color;
  padding-left: 0px;
}

.detail-single-coin{
  h4{
    color: #fff;
  }
  div{
    background-color: #999;
  }
}
