$primary-color: #f3ba2f;

.Markets-section{
  // background-color: #181A20;
  margin: 50px 0px;
  h2{
    color: #fff;
  }
}
.market-table-button{
  color: $primary-color;
  padding-left: 0px;
}

.detail-single-coin{
  h4{
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 48px;
  }
  &> div{
    background-color: #272727;
    color: rgb(188, 187, 187);
    padding: 10px;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
  }
  .buy-button.ant-btn:focus{
    color: #000;
    border-color: #256127;
    background-color: #256127;
  }
  .sell-button.ant-btn:focus{
    color: #000;
    border-color: #701b1b;
    background-color: #701b1b;
  }
}

.buy-button{
  background-color: #009900;
  border-color: #009900;
  margin-bottom: 5px;
  &:hover{
    color: #000;
    border-color: #256127;
    background-color: #256127;
  }
}
.sell-button{
  background-color: red;
  border-color: red;
  &:hover{
    color: #000;
    border-color: #701b1b;
    background-color: #701b1b;
  }
}
.table-coin-name{
  display: inline;
}
.table-coin-symbol{
  color: #999;
  padding-left: 5px;
}
.button-list-single-coin{
  margin-top: 20px;
  margin-bottom: 20px;
}
.info-section-single-coin{
  &> p{
    color: #fff;
    font-size: 16px;
  }
}
.info-header-single-coin{
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  margin-bottom: 20px;
  h4{
    color: #fff;
    font-size: 36px;
    margin-left: 20px;
    margin-bottom: 0;
  }
  span{
    color: #999;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 550;
  }
  p{
    font-size: 30px;
    margin-bottom: 0px;
  }
}
.price-info-single-coin{
  display: flex;
  justify-content: space-between;
  align-items: center;
  div{
    display: inline;
    padding: 5px;
    margin-left: 20px;
  }
}
