.market-section {
  margin: 50px 0px;
}

.market-section h2 {
  color: #fff;
}

.market-button-list {
  margin-bottom: 20px;
}

.market-button-list button {
  margin: 2px;
}

.market-table-button {
  color: #f3ba2f;
  padding-left: 0px;
}

.market-table-container {
  text-align: center;
}

.detail-single-coin {
  margin-left: 20px;
  margin-bottom: 100px;
}

.detail-single-coin h4 {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 48px;
}

.detail-single-coin > div {
  background-color: #272727;
  color: #bcbbbb;
  padding: 10px;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail-single-coin .buy-button.ant-btn:focus {
  color: #000;
  border-color: green;
  background-color: green;
}

.detail-single-coin .sell-button.ant-btn:focus {
  color: #000;
  border-color: #701b1b;
  background-color: #701b1b;
}

.detail-single-coin p {
  margin-bottom: 22px;
}

.detail-single-coin input {
  display: block;
  width: 270px;
  margin-bottom: 10px;
}

.detail-single-coin input:nth-last-child(1) {
  margin-bottom: 0px !important;
}

.detail-single-coin p:nth-last-child(1) {
  margin-bottom: 0px !important;
}

.buy-button {
  background-color: #009900;
  border-color: #009900;
  margin-bottom: 5px;
  font-weight: 550;
}

.buy-button:hover {
  color: #000;
  border-color: #256127;
  background-color: #256127;
}

.sell-button {
  background-color: red;
  border-color: red;
  font-weight: 550;
}

.sell-button:hover {
  color: #000;
  border-color: #701b1b;
  background-color: #701b1b;
}

.single-coin-breadcrumb {
  margin-top: 20px;
}

.info-section-single-coin > p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 50px;
}

.info-header-single-coin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  margin-bottom: 20px;
}

.info-header-single-coin h4 {
  color: #fff;
  font-size: 36px;
  font-weight: 550;
  margin-left: 20px;
  margin-bottom: 0;
}

.info-header-single-coin span {
  color: #999;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
  font-weight: 550;
}

.info-header-single-coin p {
  font-size: 30px;
  margin-bottom: 0px;
}

.price-info-single-coin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-info-single-coin div {
  display: inline;
  border-radius: 12px;
  padding: 7px 15px;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 550;
}

.single-coin-loading-spinner {
  margin: 270px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .info-header-single-coin {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .info-header-single-coin .price-info-single-coin {
    margin-top: 20px;
  }
  .detail-single-coin {
    margin-top: 50px;
    margin-left: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
  .detail-single-coin {
    margin-top: 50px;
    margin-left: 0;
  }
}
/*# sourceMappingURL=Styles.css.map */