$primary-color: #f3ba2f;

@media screen and (min-width: 992px) {
  .blog-sidebar {
    margin-left: 50px;
  }
}

.blog-sidebar {
  margin-top: 75px;
}

.sidebar-item-container {
  border-radius: 10px;
  background-color: #1d1d1d;
  margin: 20px 0px;
  padding: 20px;
  h3{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  h4{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
  }
  p{
    color: #999;
    font-weight: 550;
    &:hover{
      cursor: pointer;
      color: $primary-color;
    }
  }
}

.sidebar-item-divider{
  background-color: #999;
}

.tag-button{
  margin: 3px;
}

.blog-pagination{
  text-align: center;
  margin: 50px 0px;
}

.ant-pagination-item-link{
  background-color: #1d1d1d !important;
  border-color:  #1d1d1d !important;
  color: $primary-color !important;
  &:hover{
    border-color: $primary-color !important;
  }
}

.ant-pagination-item{
  background-color: #1d1d1d !important;
  border-color:  #1d1d1d !important;
  a{
    color: #999 !important;
    &:hover{
      color: $primary-color !important;
    }
  }
  &:hover{
    border-color: $primary-color !important;
  }
}

.ant-pagination-item-active{
  background-color: $primary-color !important;
  border-color:  $primary-color !important;
  a{
    color: #000 !important;
    &:hover{
      color: #000 !important;
    }
  }
}

.single-post{
  margin-top: 75px;
  h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  img{
    margin-bottom: 20px !important;
  } 
}

.comment-container{
  border-radius: 10px;
  background-color: #1d1d1d;
  margin: 25px 0px;
  padding: 25px;
  .comment-image{
    margin-right: 15px !important;
    img{
      border-radius: 50%;
      margin: 0px !important;
    }
  }
  .comment-header{
    display: flex;
    justify-content: space-between;
  }
  h4{
    color: #fff;
    font-size: 18px;
  }
  p{
    color: #999
  }
  button{
    padding: 0px;
  }
}

.admin-comment{
  margin-left: 100px
}

.comments-section{
  margin: 50px 0px;
  & > h3{
    font-size: 30px;
    font-weight: 550;
    color: #fff;
  }
  & > button{
    font-size: 20px;
  }
}
