$primary-color: #f3ba2f;

@media screen and (min-width: 992px) {
  .blog-sidebar {
    margin-left: 50px;
  }
}

.blog-sidebar {
  margin-top: 75px;
}

.sidebar-item-container {
  background-color: #1d1d1d;
  margin: 20px 0px;
  padding: 20px;
  h3{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  h4{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
  }
  p{
    color: #999;
    font-weight: 550;
    &:hover{
      cursor: pointer;
      color: $primary-color;
    }
  }
}

.sidebar-item-divider{
  background-color: #999;
}

.tag-button{
  margin: 3px;
}

.blog-pagination{
  text-align: center;
  margin: 50px 0px;
}

.ant-pagination-item-link{
  background-color: #1d1d1d !important;
  border-color:  #1d1d1d !important;
  color: $primary-color !important;
  &:hover{
    border-color: $primary-color !important;
  }
}

.ant-pagination-item{
  background-color: #1d1d1d !important;
  border-color:  #1d1d1d !important;
  a{
    color: #999 !important;
    &:hover{
      color: $primary-color !important;
    }
  }
  &:hover{
    border-color: $primary-color !important;
  }
}

.ant-pagination-item-active{
  background-color: $primary-color !important;
  border-color:  $primary-color !important;
  a{
    color: #000 !important;
    &:hover{
      color: #000 !important;
    }
  }
}

.single-post{
  margin-top: 75px;
  img{
    margin-bottom: 20px !important;
  } 
}
