.title-banner-section {
  position: relative;
  background-image: url(./../../../assets/root/bg-banner.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 250px;
  opacity: 0.3;
}

.title-banner-section::before {
  right: 50%;
  border-right: 125px solid transparent;
}

.title-banner-section::after {
  left: 50%;
  border-left: 125px solid transparent;
}

.title-banner-section::after,
.title-banner-section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  z-index: 1;
  border-bottom: 30px solid #000;
  -moz-transform: rotate(0.000001deg);
  -webkit-transform: rotate(0.000001deg);
  -o-transform: rotate(0.000001deg);
  -ms-transform: rotate(0.000001deg);
  transform: rotate(0.000001deg);
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  .title-banner-text {
    position: absolute;
    top: 185px;
    left: 15%;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    span {
      padding-left: 10px;
    }
  }
}
@media screen and (min-width: 577px) and (max-width: 900px) {
  .title-banner-text {
    position: absolute;
    top: 185px;
    left: 32%;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    span {
      padding-left: 10px;
    }
  }
}
@media screen and (min-width: 901px) {
  .title-banner-text {
    position: absolute;
    top: 185px;
    left: 41%;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    span {
      padding-left: 10px;
    }
  }
}
