$primary-color: #f3ba2f;

@media screen and (min-width: 0px) and (max-width: 576px) {
  .blog-post h3{
    font-size: 20px !important;
    font-weight: 600;
  }
}

.blog-post{
  margin-top: 75px;
  h3{
    color: #fff;
  font-size: 35px;
  font-weight: 600;
}
} 


.blog-post-description{
  color: #999;
  font-size: 16px;
  font-weight: 550;
  br{
    margin-bottom: 30px;
  }
}

.blog-post-footer{
  div{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 10px;
  }
  span{
    font-size: 20px;
    color: $primary-color ;
  }
  p{
    color: #999;
    padding-top: 15px;
    padding-left: 5px;

  }
}
