.get-started-landing {
  margin-top: 100px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.get-started-landing h2 {
  color: #EAECEF;
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
}

.landing-input {
  margin-bottom: 10px !important;
}

.info-item-section {
  margin-left: 20px;
  margin-bottom: 100px;
}

.landing-info-item-title {
  color: #EAECEF;
  font-weight: 600;
  font-size: 30px;
  line-height: 64px;
  margin-bottom: 0px;
}

.landing-info-item-description {
  color: #EAECEF;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-right: 10px;
}

.crypto-portfolio-title-section {
  margin-bottom: 80px;
}

.crypto-portfolio-title-section h3 {
  color: #EAECEF;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.crypto-portfolio-title-section p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.crypto-portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
}

.crypto-portfolio-item h4 {
  color: #EAECEF;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.crypto-portfolio-item p {
  color: #999;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0px;
}

.crypto-portfolio-icon {
  font-size: 75px;
  color: #f3ba2f;
  margin-right: 20px;
}

.crypto-portfolio-image-wrapper {
  display: inline;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .get-started-landing {
    margin-top: 10px;
    padding: 20px;
  }
  .get-started-landing h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 64px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .get-started-landing {
    margin-top: 10px;
    padding: 50px;
  }
  .get-started-landing h2 {
    font-weight: 600;
    font-size: 45px;
    line-height: 64px;
  }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
  .get-started-landing {
    margin-top: 10px;
    padding: 50px;
  }
  .get-started-landing h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 64px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1199px) {
  .get-started-landing {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .info-item-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 100px;
  }
  .landing-info-item-title {
    font-size: 40px;
  }
  .landing-info-item-description {
    padding-right: 100px;
  }
}
/*# sourceMappingURL=Styles.css.map */