.get-started-landing{
  margin-top: 100px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  h2{
    color: #EAECEF;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    // padding: 50px;
  }
}

.landing-info-item-title{
  color: #EAECEF;
  font-weight: 600;
  font-size: 40px;
  line-height: 64px;
  margin-bottom: 0px;
}
