$primary-color: #f3ba2f;

.sign-in-section {
  height: 100vh;
}

.sign-in-title {
  color: #fff;
  font-size: 50px;
  .title-keyword {
    margin-left: 15px;
  }
}

.sign-in-text-style {
  color: #a8a4a4;
  margin-bottom: 25px;
  .theme-primary-color {
    cursor: pointer;
    padding-left: 5px;
    margin-bottom: 0px !important;
  }
}

.form-item {
  color: #fff !important;
}

.input::placeholder,
.ant-input::placeholder {
  color: #464545 !important;
}

.back-home-section {
  margin-top: 35px;
}
