$primary-color: #f3ba2f;
// $primary-color: #fd961a;
$secondary-color: #9b5501;

body {
  background-color: black;
  color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  color: #000;
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
}

.button-outline {
  color: $primary-color;
  border-color: $primary-color;
  background: inherit;
  &:hover {
    color: #000;
    background-color: $primary-color;
    border-color: $primary-color;
  }
}
