$primary-color: #f3ba2f;
$secondary-color: #9b5501;

body {
  background-color: black;
  color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  color: #000;
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
}

.button-outline {
  color: $primary-color;
  border-color: $primary-color;
  background: inherit;
  &:hover {
    color: #000;
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.theme-primary-color {
  color: $primary-color;
}

.ant-table-thead > tr > th{
  background-color: rgb(11, 14, 17);
  border-color: #282828;
  color: #999;
  font-size: 16px;
  font-weight: 550;
}

.ant-table-tbody > tr > td{
  background-color: #181A20;
  border-color: #282828;
  color: #fff;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: rgb(11, 14, 17);
}

.ant-menu-dark .ant-menu-sub{
  background-color: #272727;
}
.ant-menu.ant-menu-dark{
  background-color: #282828;
}

.ant-divider-horizontal.ant-divider-with-text::after, .ant-divider-horizontal.ant-divider-with-text::before{
  border-color: #fff !important;
}

.ant-divider-horizontal.ant-divider-with-text{
  color: #fff;
}

.ant-pagination-item-ellipsis,
.anticon-double-left,
.anticon-double-right{
  color: $primary-color !important;
}
