@import './../../../styles/globals.scss';

.service-section {
  margin: 75px 0px;
}
.service-container {
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  border: 2px solid transparent;
  padding: 30px;
  margin: 10px;
  & p:first-child {
    font-size: 20px;
  }
  & p:last-child {
    color: #999;
  }
  &:hover{
    background-color: #000 !important;
    border: 2px solid $primary-color;
    cursor: pointer;
    & p:first-child {
      color: $primary-color;
    }
    & p:last-child {
      color: #fff;
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 576px) {
  .service-container {
    flex-direction: column;
    align-items: center;
    img {
      width: 50px !important;
      height: 50px !important;
    }
    div {
      & p:first-child {
        padding-top: 10px;
        text-align: center;
      }
      & p:last-child {
        text-align: center;
      }
    }
  }
}
@media screen and (min-width: 577px) {
  .service-container {
    flex-direction: row;
    align-items: flex-start;
    div {
      padding-left: 30px;
    }
  }
}
