$primary-color: #f3ba2f;

.footer-container {
  padding-left: 20px;
}

.title {
  color: $primary-color;
}

.footer-items {
  list-style: none;
  padding-left: 0px;
  .footer-item:hover {
    cursor: pointer;
    color: $primary-color;
  }
}

.peyment-methods {
  margin-top: 20px;
  margin-bottom: 10px;
  & > * {
    margin: 0px 2px !important;
  }
}

.developer {
  cursor: pointer;
  color: $primary-color;
  padding: 0px 5px;
}
